div label input {
   margin-right:100px;
}
body {
    font-family:sans-serif;
}

#button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float: left;
    }

#button:hover {
    background:black;
    color:#fff;
}

#button label {
    float:left;
    width:6.0em;
}

#button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#button label input {
    position:absolute;
    top:-20px;
}

#button input:checked + span {
    background-color:#707070;
    color:#fff;
}

#results {
    font-size: 60px;
}